* {
  margin: 0px;
  box-sizing: border-box;
}

.background {
  background-image: url("../images/background.png");
  width: 1024px;
  height: 600px;
  padding: 20px 0px 0px 20px;
}

.outerbox {
  background-image: url("../images/outerbox.png");
  width: 808px;
  height: 544px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0px 0px 32px;
}

/* 왼쪽 영역 */
.wrapper__left {
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
  margin-right: 7px;
}

/* 왼쪽 영역 - 헤더(투데이 카운터) */
.wrapper__left__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.today {
  padding-top: 10px;
  font-size: 9px;
}

.zero {
  color: red;
  font-size: 11px;
}

.count {
  font-size: 11px;
}

/* 왼쪽 영역 - 바디(프로필) */
.wrapper__left__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 30px 0px 30px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}

.left__body__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left__body__header__gray {
  width: 148px;
  height: 133px;
  background-color: gray;
}

.left__body__header__line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}

.left__body__profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__detail {
  color: #999999;
  font-size: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.fas {
  color: black;
  margin-right: 10px;
  width: 5px;
  height: 5px;
}

.body__footer {
  width: 100%;
  margin-bottom: 30px;
}

.wrapper__feel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.feel__title {
  font-size: 11px;
  margin-bottom: 5px;
  color: gray;
}

.wrapper__left__body {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

/* 오른쪽 영역 */
.wrapper__right {
  width: 524px;
  height: 472px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background-color: red;
  justify-content: flex-end;
}

.wrapper__right__header {
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 14px;
  align-items: flex-end;
}

.right__header__title,
.right__header__setting {
  font-size: 9px;
  color: #55b2e4;
  font-family: "Hi Melody", cursive;
}
.right__header__title {
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
}

.wrapper__right__body {
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

